*{
    font-weight: 100;
    font-family:Verdana;
}
body{
    background-color: lightblue;
}
h3{
    color:green;
    border:3px solid black;
}
.class1{
    border:1px dotted black;
}
#id1{
    margin:10px;
    border:2px dashed red;
}
h5,p{
    font-size:20px;
}
