body {
    font-family:'Courier New', Courier, monospace;
    background-color: red;
    color:lightcyan;
}
h1{
    color: blue;
    font-size: bold;
}
p::before {
    content: "😀"
}
p::after{
    content: "😀"
}
p::first-letter{
    font-size:16px;
    color: darkorange;
}
a:hover {
    color:white;
    background-color:blue;
}
h1 + p {
    background-color:green;
}
ul li:hover{
    color: white;
}
ul li:nth-child(2) {
    background-color: white;
    color:black;
}
p:not(:first-of-type){
    background-color: green;
    color:lightcyan;
}